* {
  font-family: "Open Sans", sans-serif;
}

html, body {
  height: 100%;
  background-color: #1d1f21
}

body
{
  position: fixed;
  overflow-y: scroll;
  width: 100%;
}

a:hover, a:visited, a:active, a:focus{
  text-decoration: none;
}

.name {
  position: absolute;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
  width: 100%;
  top: 37vh;
  color: #eeeeee;
}
.navbar {
  float: right;
  font-size: 14px;
  font-weight: 400;
  clear: all;
  margin: 20px 20px;
}

.navbar a {
  transition: color .25s ease;
  color: #eeeeee;
  padding: 6px;
  text-align: center;
}

.navbar a:hover {
  color: gray;
  border-color: #aaaaaa;
}

.navbar a {
  border-right: solid;
  border-width: thin;
  border-color: #aaaaaa;
}

.navbar a:last-child {
  border-right: none;
}

.wrapper {
  background-color: #1d1f21;
  min-height: 100%;
  height: auto;
  height: 100%;
  margin: 0 auto -4em;
}

.push {
  height: 4px;
}

.footer {
  box-shadow: 0 -10px -10px red;
  text-align: center;
  margin: auto;
  font-weight: 100;
  height: 60px;
  padding-right: 10px;
}

.footer a {
  transition: color 0.25s ease;
  display: inline-block;
  font-size: 15px;
  color: #eeeeee;
  text-align: center;
}

#github:hover {
  color: #6d3353;
}

#linkedin:hover {
  color: #0074b2;
}

.footer i {
  margin-top: .5em;
  padding-left: 5px;
  padding-right: 5px;
}
